#root {
  padding: 0;
  margin: auto;
  max-width: 1240px;
}
.color {
  color: #ff6060;
}

.a {
  color: black;
  text-decoration: none;
  font-size: 24px;
  font-weight: 500;
}
.active {
  text-decoration: underline;
}
.font {
  font-family: "Montserrat";
  margin: 0% 5%;
}

.lien {
  display: flex;
  gap: 50px;
  align-items: center;
  list-style: none;
  padding: 0px;
}

.nav {
  display: flex;
  justify-content: space-between;
  padding: 30px 0px;
}

.logo {
  height: 70px;
}
/* global / navbar ^ */

.header {
  position: relative;
  border-radius: 20px;
  margin: auto;
  width: 100%;
  height: 200px;
  overflow: hidden;
  margin-bottom: 5%;
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 1);
}

.head {
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: brightness(50%);
}

.text {
  position: absolute;
  margin: 0;
  top: 50%;
  left: 50%;
  color: white;
  font-size: 48px;
  font-weight: 700;
  transform: translate(-50%, -50%);
  text-wrap: nowrap;
}

/* // style header ^ */
.section {
  background-color: rgba(246, 246, 246, 1);
  border-radius: 20px;
  margin-bottom: 5%;
  display: flex;
  flex-wrap: wrap;
  row-gap: 20px;
  padding: 50px;
  justify-content: space-around;
}
/* //  accueil ^ */
.cards {
  position: relative;
  height: 300px;
  width: 30%;
  border-radius: 10px;
  object-fit: cover;
}
.img {
  width: 100%;
}
.card {
  position: absolute;
  bottom: 5px;
  left: 20px;
  color: white;
  font-weight: 700;
  font-size: 18px;
  line-height: 25.67px;
}

/* // Card accueil^ */

.box {
  height: 415px;
  border-radius: 25px;
  overflow: hidden;
  position: relative;
}
.pass {
  position: absolute;
}

.one {
  rotate: 90deg;
  height: 100px;
  right: 10px;
  bottom: 40%;
}
.two {
  rotate: -90deg;
  height: 100px;
  left: 10px;
  bottom: 40%;
}
.car {
  width: 100%;
  object-fit: cover;
  object-position: center;
  height: 415px;
}
.number_carroussel {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translate(0, -50%);
  color: white;
}
.content {
  margin-top: 40px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.infocard {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.titreOne {
  font-size: 36px;
  margin: 0;
  font-family: "Montserrat";
  font-weight: 500;
  color: #ff6060;
}
.titreTwo {
  font-size: 18px;
  margin: 0;
  font-family: "Montserrat";
  font-weight: 500;
  margin-bottom: 15px;
}
.categorie {
  list-style: none;
  display: flex;
  flex-direction: row;
  gap: 10px;
}
.categ {
  background-color: #ff6060;
  border-radius: 10px;
  color: white;
  font-family: "Montserrat";
  font-weight: 700;
  font-size: 14px;
  padding: 0px 25px;
  margin: 0;
  height: 25px;
  flex-wrap: nowrap;
  display: grid;
  place-items: center;
}
.proprio {
  display: flex;
  flex-direction: column;
}
.infoproprio {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  margin-bottom: 15px;
}

.face {
  border-radius: 100%;
  height: 65px;
  width: 65px;
  object-fit: cover;
}

.name {
  font-family: "Montserrat";
  font-size: 18px;
  font-weight: 500;
  color: #ff6060;
  margin-right: 10px;
  width: min-content;
  text-align: end;
}
.etoile {
  margin: 0;
  display: flex;
  gap: 5px;
  position: relative;
}
.icone {
  width: 25px;
}
.rose {
  width: 25px;
}
.star {
  color: #ff6060;
}
.pinkstar {
  position: absolute;
  top: 0px;
  left: 0px;
  display: flex;
  gap: 5px;
  width: 25px;
  height: 24px;
}
.decrypt {
  display: flex;
  flex-direction: row;
  margin-top: 20px;
  justify-content: space-between;
}
.complete {
  width: 45%;
}

.loot {
  width: 45%;
  list-style: none;
}
/* // style ContentCard ^ */

.container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 20px;
}
.accordeon__title {
  display: flex;
  justify-content: space-between;
  background-color: #ff6060;
  color: white;
  font-family: "Montserrat";
  font-size: 24px;
  font-weight: 700;
  text-align: left;
  padding: 15px;
  border-radius: 10px;
  z-index: 1;
}
.invisible {
  visibility: hidden;
  height: 0;
  opacity: 0;
  overflow: hidden;
  font-size: 18px;
  font-weight: 400;
  line-height: 25.67px;
  background-color: none;
  margin-bottom: 0px;
  border-radius: none;
  margin-top: 0px;
  font-family: "Montserrat";
  transition-duration: 0.5s;
}
.accordeon__content {
  visibility: visible;
  height: max-content;
  opacity: 1;
  overflow: visible;
  font-size: 18px;
  font-weight: 400;
  line-height: 25.67px;
  background-color: rgba(246, 246, 246, 0.45);
  border-radius: 0px 0px 5px 5px;
  margin-top: -10px;
  font-family: "Montserrat";
  transition-duration: 0.5s;
  transform-origin: top;
  padding: 25px 10px 10px 10px;
}
.arrow {
  height: 32px;
  width: 32px;
  display: grid;
  place-items: center;
}

/* // style accordeon ^ */
.error {
  font-size: 288px;
  margin: 50px 0px;
  font-weight: 700;
  display: flex;
  justify-content: center;
}

.txterror {
  font-family: "Montserrat";
  font-size: 36px;
  font-weight: 500;
  display: flex;
  text-align: center;
  justify-content: center;
  margin: 60px 0px;
}

.linkError {
  display: flex;
  justify-content: center;
  margin: 100px 0px;
  color: black;
}
/* style page erreur */

.footer {
  background-color: black;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-top: 30px;
}

.txtFoot {
  font-family: "Montserrat";
  font-weight: 500;
  font-size: 24px;
}
/* // style footer ^ */

/* --------- */

/* media query */
@media screen and (max-width: 1024px) {
  .section {
    padding: 25px;
  }
  .cards {
    height: 240px;
  }
  .error {
    font-size: 280px;
  }
}

@media screen and (max-width: 900px) {
  .a {
    font-size: 20px;
  }

  .logo {
    height: 50px;
  }

  .lien {
    gap: 15px;
  }
  .header {
    height: 115px;
  }

  .text {
    width: 90%;
    font-size: 24px;
    transform: translate(-45%, -50%);
    text-wrap: wrap;
  }
  .section {
    background-color: white;
    padding: 0px;
    flex-direction: column;
    margin-top: 25px;
  }
  .cards {
    width: 100%;
  }
  .content {
    flex-direction: column;
  }
  .box {
    height: 370px;
  }
  .one {
    height: 70px;
  }
  .two {
    height: 70px;
  }
  .proprio {
    justify-content: space-between;
    flex-direction: row-reverse;
  }
  .icone {
    width: 25px;
  }
  .pinkstar {
    top: 35px;
  }

  .txtFoot {
    font-size: 12px;
  }
  .txterror {
    font-size: 28px;
  }
  .error {
    font-size: 250px;
  }
}

@media screen and (max-width: 600px) {
  .a {
    font-size: 12px;
    text-transform: uppercase;
  }
  .logo {
    height: 45px;
  }
  .lien {
    gap: 10px;
  }
  .box {
    height: 195px;
  }

  .cards {
    height: 200px;
  }
  .one {
    height: 30px;
    bottom: 45%;
  }
  .two {
    height: 30px;
    bottom: 45%;
  }
  .content {
    margin-top: 20px;
  }
  .titreOne {
    font-size: 18px;
  }
  .titreTwo {
    font-size: 14px;
  }
  .categorie {
    flex-wrap: wrap;
  }
  .categ {
    font-size: 12px;
    padding: 0px 20px;
    height: 25px;
  }
  .etoile {
    gap: 10px;
    font-size: 25px;
  }
  .icone {
    width: 20px;
  }
  .rose {
    width: 20px;
  }
  .pinkstar {
    top: 13px;
    gap: 10px;
  }
  .infoproprio {
    margin-bottom: 0px;
  }
  .name {
    font-size: 12px;
  }
  .face {
    height: 45px;
    width: 45px;
  }
  .decrypt {
    flex-direction: column;
  }
  .complete {
    width: 100%;
  }
  .loot {
    width: 100%;
  }
  .accordeon__title {
    font-size: 13px;
  }
  .accordeon__content {
    font-size: 12px;
  }
  .arrow {
    height: 20px;
    width: 20px;
  }
  .txterror {
    font-size: 18px;
  }
  .error {
    font-size: 100px;
  }
  .linkError {
    font-size: 14px;
  }
}
