.color {
  color: #ff6060;
}

.a {
  color: black;
  text-decoration: none;
  font-size: 24px;
  font-weight: 500;
}

.font {
  font-family: "Montserrat";
  padding: 0% 5%;
}

.lien {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  padding: 0px;
  width: 20%;
}

.nav {
  display: flex;
  justify-content: space-between;
  padding: 30px 0px;
}

.logo {
  height: 70px;
}
/* global / navbar ^ */

.header {
  position: relative;
  border-radius: 20px;
  margin: auto;
  width: 100%;
  height: 200px;
  overflow: hidden;
  margin-bottom: 5%;
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 1);
}

.head {
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: brightness(50%);
}

.text {
  position: absolute;
  margin: 0;
  top: 50%;
  left: 50%;
  color: white;
  font-size: 48px;
  font-weight: 700;
  transform: translate(-50%, -50%);
  text-wrap: nowrap;
}

/* // style header ^ */
.section {
  background-color: rgba(246, 246, 246, 1);
  border-radius: 20px;
  margin-bottom: 5%;
  display: flex;
  flex-wrap: wrap;
  row-gap: 20px;
  padding: 50px;
  justify-content: space-around;
}
/* //  accueil ^ */
.cards {
  position: relative;
  height: 340px;
  width: 30%;
  border-radius: 10px;
  object-fit: cover;
}
.img {
  width: 100%;
}
.card {
  position: absolute;
  bottom: 5px;
  left: 20px;
  color: white;
  font-weight: 700;
  font-size: 18px;
}

/* // Card accueil^ */

.caroussel {
  height: 415px;
  border-radius: 25px;
  overflow: hidden;
  position: relative;
}
.pass {
  position: absolute;
}

.one {
  rotate: 90deg;
  height: 100px;
  right: 10px;
  bottom: 40%;
}
.two {
  rotate: -90deg;
  height: 100px;
  left: 10px;
  bottom: 40%;
}
.car {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.content {
  margin-top: 40px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.infocard {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.titreOne {
  font-size: 36px;
  margin: 0;
  font-family: "Montserrat";
  font-weight: 500;
  color: #ff6060;
}
.titreTwo {
  font-size: 18px;
  margin: 0;
  font-family: "Montserrat";
  font-weight: 500;
  margin-bottom: 15px;
}
.categorie {
  list-style: none;
  display: flex;
  flex-direction: row;
  gap: 10px;
}
.categ {
  background-color: #ff6060;
  border-radius: 10px;
  color: white;
  font-family: "Montserrat";
  font-weight: 700;
  font-size: 14px;
  width: 110px;
  height: 25px;
  display: grid;
  place-items: center;
}
.proprio {
  display: flex;
  flex-direction: column;
}
.infoproprio {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  margin-bottom: 15px;
}

.face {
  border-radius: 100%;
  height: 65px;
  width: 65px;
  object-fit: cover;
}

.name {
  font-family: "Montserrat";
  font-size: 18px;
  font-weight: 500;
  color: #ff6060;
  margin-right: 10px;
  width: min-content;
  text-align: end;
}
.etoile {
  margin: 0;
}

.star {
  margin: 0;
}
.decrypt {
  display: flex;
  flex-direction: row;
  margin-top: 20px;
  justify-content: space-between;
}
.complete {
  width: 45%;
}

.loot {
  width: 45%;
  list-style: none;
}
/* // style ContentCard ^ */

.container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 20px;
}
.accordeon__title {
  display: flex;
  justify-content: space-between;
  background-color: #ff6060;
  color: white;
  font-family: "Montserrat";
  font-size: 24px;
  font-weight: 700;
  text-align: left;
  padding: 15px;
  border-radius: 10px;
  z-index: 1;
}
.invisible {
  visibility: hidden;
  height: 0;
  opacity: 0;
  overflow: hidden;
  font-size: 18px;
  font-weight: 400;
  line-height: 25.67px;
  background-color: none;
  margin-bottom: 0px;
  border-radius: none;
  margin-top: 0px;
  font-family: "Montserrat";
  transition-duration: 0.5s;
}
.accordeon__content {
  visibility: visible;
  opacity: 1;
  overflow: visible;
  background-color: rgba(246, 246, 246, 0.45);
  border-radius: 0px 0px 5px 5px;
  padding: 25px 10px 10px 10px;
  margin-top: -10px;
  font-family: "Montserrat";
  font-size: 18px;
  font-weight: 400;
  line-height: 25.67px;
  transition-duration: 0.5s;
  transform-origin: top;
}
.arrow {
  height: 32px;
  width: 32px;
  display: grid;
  place-items: center;
}

/* // style accordeon ^ */
.error {
  font-size: 288px;
  margin: 50px 0px;
  font-weight: 700;
  display: flex;
  justify-content: center;
}

.txterror {
  font-family: "Montserrat";
  font-size: 36px;
  font-weight: 500;
  display: flex;
  justify-content: center;
  margin: 60px 0px;
}

.linkError {
  display: flex;
  justify-content: center;
  margin: 100px 0px;
  color: black;
}
/* style page erreur */

.footer {
  background-color: black;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-top: 30px;
  margin: 50px;
}

.txtFoot {
  font-family: "Montserrat";
  font-weight: 500;
  font-size: 24px;
}
/* // style footer ^ */
